<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="./css/about_us.css"/>
</head>
<body>
    <!--加载head-->
    <div id="ab_us_header">
        <%include header.html%>
    </div>
    <!--banner-->
    <div id="ad_us_banner">
        <img src="./../images/about_us/abtus_banner.png" />
    </div>
    <!--位置描述及页面位置-->
    <div id="ad_us_box">
        <div id="ad_us_box_state">
            <button type="button">关于我们</button>
            <span id="ad_us_location">当前位置：首页 / 关于我们  / 内容展示页</span>
        </div>
    </div>
    <!--关于我们内容标题-->
    <div id="ad_us_content">
        <div id="ad_us_title">关于我们</div>
        <div>为您提供更高效、更便捷的健康服务！</div>
        <div><img src="./../images/news_list/title_pic.png" alt=""/></div>
    </div>
    <!--内容-->
    <div id="body_box">
        <div class="company_profile">
            <div  id="photo_frame1"></div>
            <div id="cp_pic">
                <img src="./../images/about_us/pic_1.png" />
            </div>
            <div  id="photo_frame2"></div>
            <div id="cp_pic1">
                <img src="./../images/about_us/pic_2.png" />
            </div>
        </div>
        <div class="cp_words">
             <p class="p_title_main main_site">公司简介：</p>
             <p class="p_thema L_And_R">公司致力于打造智慧健康平台、硬件、服务综合一体化的O2O全产业链服务业态，
                 逐步切入医药、健康生态、养老产业投资等业务领域。</p>
             <p class="p_thema L_And_R">长虹智慧健康公司于2015年5月22日成立， 开始着力互联网医疗解决方案的研发。
                 于2015年7月28日，推出“妥妥医”互联网医疗系统解决方案，拟构建覆盖个人、家庭、
                 城镇社区、乡村的端云一体的互联网+健康医疗服务体系。</p>
             <p class="p_thema L_And_R">目前，长虹以绵阳为起点，已经与四川省多家医疗卫生机构达成合共识，通过与医
                 疗卫生机构的合作，取得优质医疗资源，全面推广运营“妥妥医”，以期在绵阳率先落
                 地互联网医疗，为全市、全川乃至全国“互联网+”落地实施做出榜样，从而将“妥妥
                 医”互联网医疗系统解决方案推广至全川、全国。</p>
        </div>
        <div class="product_servers">
             <p class="p_title_main">产品与服务:</p>
            <p class="p_thema">公司旗下“妥妥医”产品整合各方医疗软硬件资源，为用户提供私人、
                便捷、高效的医疗健康服务，其慢病管理服务在疾病监测、数据管理、
                信息分享、医患沟通、门诊就医等关键医疗环节，对接顺畅、运转高效。
                “妥妥医”APP定位于智能化的私人医生，用户可自助在家监护，数据异
                常时自动预警，同时私人医生将快速介入</p>
            <p class="p_thema">同时，配合健康小站、健康一体机等设备，“妥妥医”还实现了协助
                推动居民健康信息化，居民健康档案共享等功能，基于物联网、大数据、
                云计算等技术手段，具有提升基层医疗科研水平和疾病防控水平的意义，
                推进医疗卫生信息资源跨医院、跨地域的信息共享和业务协同，方便基
                层医生入户诊疗及随访，推进基本公共卫生服务均等化和基层医疗卫生
                保障等工作。</p>
        </div>
        <div class="product_pic">
            <img src="./../images/about_us/product_img.png" />
        </div>
        <!--发展历程-->
        <div id="development_course">
            <div id="development_title">
                <div>
                    <img src="./../images/about_us/picture_line.png"/>
                </div>
                <span class="p_title_main lineheight">发展历程</span>
                <span class="arial_Italic color_1a8561 lineheight">Development course</span>
            </div>
            <div class="year">
                <span id="year_color">2015</span>
            </div>
            <div id="time_axis">
                <img src="./../images/about_us/time_axis.png" />
            </div>
            <div class="develop_word">
                <div>
                    <span>2015/5/22</span>
                    <span>四川长虹智慧健康科技有限公司正式在绵阳成立</span>
                </div>
                <div>
                    <span>2015/7/28</span>
                    <span>四川长虹智慧健康科技有限公司发布旗下智慧健康产品——妥妥医APP，并与绵阳市中心医院正式签署战略合作</span>
                </div>
                <div>
                    <span>2015/8/--</span>
                    <span>绵阳首家长虹健康小屋建立，这是绵阳疾病预防控制中心与长虹“妥妥医”合作建设的健康体验站</span>
                </div>
                <div>
                    <span>2015/9/17</span>
                    <span>四川长虹智慧健康科技有限公司健康小站亮相绵阳科博会</span>
                </div>
                <div>
                    <span>2015/9</span>
                    <span>长虹健康小屋旗舰店在绵阳市中心医院建立</span>
                </div>
                <div>
                    <span>2015/11/9</span>
                    <span>四川长虹与四川省卫生计生委签署战略合作协议，在更多层面加强合作</span>
                </div>

            </div>
        </div>
    </div>
    <!--加载页尾-->
    <div id="ab_us_footer">
        <%include footer.html%>
    </div>
</body>
</html>