<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章展示页</title>
    <link rel="stylesheet" href="./../css/Article_Content.css"/>
</head>
<body>
   <div id="Article_head"></div>
   <!--新闻banner图-->
   <div id="news_banner">
       <img src="../images/news_list/news_banner.png"/>
   </div>
   <!--位置描述及页面位置-->
   <div id="news_box">
       <div id="news_box_state">
           <button type="button" id="Comp_news">公司新闻</button>
           <button type="button" id="Ind_news">行业新闻</button>
           <span id="page_location">当前位置：首页 / 新闻动态 / 公司新闻 / 文章展示页</span>
       </div>
   </div>
   <div id="news_content">
       <div id="news_title">公司新闻文章详细页标题文字</div>
       <div>为您提供更高效、更便捷的健康服务！</div>
       <div><img src="./../images/news_list/title_pic.png" alt=""/></div>
   </div>
   <div class="news_body">
       <div class="news_information">
           <span class="news_time">生成日期：2016-5-11 </span>
           <span class="news_src">来源：本网 </span>
           <span class="news_author">作者：妥妥医</span>
       </div>
       <p class="news_theme">长虹发布物联运营支撑平台，妥妥医大放异彩！</p>
       <p class="news_paragraph">根据长虹“十三五”发展规划，基于家电、军工、IT三大核心主业，积极布局智能服务等五大新兴产业，通过打造UP平台，创新商业模式，加速长虹传统核心业务与新兴业务之
           间的对接，实现由产品运营向“产品+服务”的用户运营转型，从而提升长虹在时代浪潮中的差异化竞争优势，做大做强新长虹。</p>
       <div class="news_article_box">
           <p class="news_paragraph">立足互联网、面向物联网，长虹于2013年发布了“智能化、网络化、协同化”的“新三坐标”智能战略。
               其中，在智能化方向，将强化现有终端产品的智能化，比如智慧健康生态圈；在网络化方向，将加强网络对终
               端产品的价值提升，强化云平台建设，构建数据分析能力，挖掘数据的价值，构建基于数据的商业模式；在协
               同化方向，将加强终端的协同，形成系统解决方案，发展智慧健康、智慧社区和智慧城市等业务。</p>
           <p class="news_paragraph">经过两年多的创新与探索，长虹智能转型已取得阶段性成果。2013年，长虹和IBM成立大中华区首个大数
               据竞争力分析中心，并成立行业首个大数据公司。目前，长虹已拥有100多名高级大数据研发工程师，是家电行
               业内唯一一家拥有用户行为分析，大数据处理能力以及庞大服务器资源的公司；2014年，先后上市CHiQ电视、
               冰箱、空调以及手机、厨卫等智能终端产品，形成完整的终端布局；2015年，长虹推出“智慧社区下的智慧家庭”
               服务解决方案，推出“点点帮”智慧物业、“妥妥医”智慧健康等业务平台。</p>
           <p class="news_paragraph">长虹公司首席技术官（CTO）阳丹在发布会上表示，“在‘新三坐标’智能战略指引下，长虹目前已拥有庞大
               的设备数量和数以千万级的智能终端用户、完整的智能终端产业布局以及强大的数据分析能力，这为长虹打造物联
               运营支撑平台及衍生智能服务产业打下了坚实的基础。”</p>
       </div>
       <div class="news_paragraph_pic">
           <img src="../images/index/article.png"/>
       </div>
       <p class="news_theme">支点：构建“物+联”新模式</p>
       <p class="news_paragraph">“通过长虹旗下智能终端、智慧家庭用户行为数据的分析，我们发现了大量的用户新需求和待满足的应用场景。其中一部分通过长虹的智能制造平台、O2O服务业务、售后服务平台
           可以得到满足；而更多的用户需求是长虹并不擅长的领域。”长虹公司首席数据官（CDO）刘东在发布上表示。</p>
       <p class="news_paragraph">以妥妥医为例，自2015年7月正式推出以来，一直着力于探索互联网医疗的解决方案，旨在为广大患者提供有针对性的，更人性化的健康管理。功能涵盖线上问诊、预约挂号、名医
           问诊、体检服务、健康计划等，以私人医生服务作为切入口，配合大数据的挖掘、分析及应用，用线上、线下相结合的方式，提供了形式多样、内容丰富的个性化医疗及健康管理服务。
           刘东表示，“大数据经济是物联网时代的重要标志，长虹海量的物联数据也需要产生经济价值。那么，就需要有一个基础性的平台来实现用户、云端、智能终端以及各类服务应用的全面
           联接与打通，并形成万物互联的开放生态体系。“经过长虹软服团队半年时间的潜心攻关，结合长虹自身在软件开发、大数据运营、军工信息技术、安全技术等优势，正式推出全球首个
           物联运营支撑平台——长虹UP平台</p>
       <p class="news_paragraph">区别于其他物联网运营平台，长虹UP平台具有物联、平衡、开放的三大特点。UP平台统一支撑长虹各产业单元业务，以及智慧健康、智慧家庭、智慧社区、智慧生活等领域孵化的
           物联网新创新应用业务，即由物到“物+联”；通过UP平台平衡产品布局和用户运营，为长虹带来显著的运营优势、战略优势和竞争优势，实现“掌握用户入口、构建平台生态、汇聚社
           会资源、形成商业形态”；UP平台是一个开放的公共服务平台，非私有云，打通物联智能硬件开放、支持物联网生态应用及推广，以平台形式提供技术和服务的能力。同时，平台汇集各
           种数据，是“数据湖”，但业务数据私有化，平台不具备第三方数据的拥有权。</p>
       <p class="news_paragraph">“物联数据分析与运营是UP平台的核心能力。”阳丹进一步强调。在数据分析与运营上，长虹为用户和客户提供包括用户统一管理、设备统一管理、支付统一管理在内统一运营平台，以
           及大数据采集、行业数据集市、实时搜索、大数据服务保驾护航的集成平台；帮助用户和客户快速获取高价值数据，构建新业务洞见，形成竞争优势；通过对运维日志、用户和客户及业
           务日志进行统一管理、准实时搜索、可视化、监控预警、安全审计等手段，确保用户和客户业务的稳定服务。。</p>
       <p class="news_theme">拓新：共筑多元内容生态</p>
       <p class="news_paragraph">“以长虹UP平台运营为基础，智能服务正在成为长虹业务增长的新引擎。”阳丹表示。目前，基于UP平台，长虹已经成功孵化出点点帮、妥妥医、购食汇、家事帮、能源管理、关
           护通、车联网、智慧学习等多个智能服务产业公司，同时，雄厚的供应链、物流配送、渠道能力等资源为智能服务做强大支撑，其中长虹民生物流等已在新三板挂牌上市。</p>
       <p class="news_paragraph">基于UP平台的开放协同，长虹正在吸纳多元化的内容服务、第三方开发者、创业公司、服务应用公司等，演绎新的商业模式。妥妥医APP通过线上打通患者与医生、患者与医院之间
           的渠道，帮助用户实现线上问诊、线下买药、接受治疗，这大大提高了服务效率，缩短了服务周期。</p>
       <p class="news_theme_article">相关文章</p>
       <div class="news_theme_url">
           <ul>
               <li><a href="">艾滋病大流行揭秘：源自同一祖先进化不到100年<span class="theme_red">HOT```</span></a></li>
               <li><a href="">让健康管理变得易如反掌 “妥妥医”用户端使用指南<span class="theme_red">HOT```</span></a></li>
               <li><a href="">最新报告：我国烟民达3.16亿，每人平均每天吸15.2支烟</a></li>
               <li><a href="">2015哪些不可信的事，别再传了</a></li>
           </ul>
       </div>
   </div>
   <div id="Article_foot"></div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/Article_Content.js"></script>
</html>