<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康资讯文章展示</title>
    <link rel="stylesheet" href="./../css/art_display.css"/>
</head>
<body>
    <div id="art_header"></div>
    <!--banner图-->
    <div id="art_banner">
        <img src="./../images/infomation/info_banner.png" />
    </div>
    <!--位置描述及页面位置-->
    <div id="art_box">
        <div id="art_box_state">
            <button type="button">健康资讯</button>
            <span id="art_location">当前位置：首页 / 新闻动态 / 健康资讯 / 文章展示页</span>
        </div>
    </div>
    <!--健康资讯内容标题-->
    <div id="art_content">
        <div id="art_title">健康资讯文章详细页标题文字</div>
        <div>为您提供更高效、更便捷的健康服务！</div>
        <div><img src="./../images/news_list/title_pic.png" alt=""/></div>
    </div>
    <div class="news_body">
        <div class="news_information">
            <span class="news_time">生成日期：2016-5-11 </span>
            <span class="news_src">来源：本网 </span>
            <span class="news_author">作者：妥妥医</span>
        </div>
        <p class="news_theme">互联网医疗投资高峰已过 医疗投资将获得新一轮增长</p>
        <p class="news_paragraph">2015年底以来，互联网医疗投资已经渐趋消沉，但随着少量产业公司跨界进入，行业投资再度获得热议。但如果仔细分析过去两个月的投资事件，市场已经难觅主流基金的身影，
            部分行业外资金和上市公司等产业资本还在持续进入。这延续了过去两年行业外资金对互联网医疗投资的趋势，主要还是出于自身业务战略转型和市值管理的需求。而在同期，
            对传统医疗行业的投资仍在持续，更多主流基金也开始转战线下，预期医疗投资在2016将获得一定规模的增长。</p>

        <div class="news_article_box">
            <p class="news_paragraph">自从2015年挂号网获得巨量投资以后，互联网医疗的投资已经日薄西山。多家顶级投资机构集中下注挂号网
                的主要原因是市场对互联网医疗已经不再认为其能获得爆发式增长，无法按照传统的互联网思路来进行投资。由
                于几乎所有的互联网医疗都难以明确清晰的商业模式和产生大规模的营收，主流基金的投资就不再浪费在早中期
                的项目。大体量的项目虽然暂时还不能找到清晰的盈利模式，但大量投资至少可以让这类公司继续发展直至找到
                商业模式，而早中期的小规模投资则很容易烧完倒闭。因此，互联网医疗出现巨额投资的背后逻辑就是投资方抱
                团下注，以在各自可承受的风险下大胆一搏。</p>
            <p class="news_paragraph">但这样的投资逻辑对于广大仍处于早中期的项目则过于残酷，如果没有后续资金，大部分公司只能关门。好在
                医疗投资近来已经成为热门投资领域，大量行业外资金正在大量涌入。绝大部分行业外资金对医疗投资尤其是医
                疗服务投资知之甚少，他们一部分是出于转型的需要，比如大量房地产公司，一部分是出于害怕错过风口的投资
                逻辑，都义无反顾的涌入了医疗服务投资领域。其中有一部分实力并不雄厚的资金出于卡位的需要还在继续进入
                互联网医疗行业，毕竟与传统线下医疗服务领域相比，早中期的互联网医疗项目估值还在可承受范围。而许多原
                先在行业内发展遇到瓶颈的以产品为核心的公司则更多的是出于转型和市值管理的需求也参与到部分中后期的投
                资，意图通过这类投资向二级市场传递自身积极转型的信号，带动日益低迷的股价回升。</p>
        </div>
        <div class="news_paragraph_pic">
            <img src="../images/infomation/health_info1.png"/>
        </div>
        <p class="news_paragraph">在中国宏观经济面临长周期的下行压力的整体背景下，医疗行业正被大量资本看好。但是，医疗服务投资有别于传统的医疗产品投资，其背后的市场运营逻辑是完全不同的，这也是大量
            传统医疗投资基金在过去两年的互联网医疗投资上非常谨慎的原因。中国医疗服务市场长期扭曲，市场供需平衡的难点不在于简单的增加供给，而是如何调整供给结构，而在这一点上，互
            联网的作用相当有限，这也是其无法获得发展的根本原因。既然受制于线下医疗服务的挑战，作为医疗服务的一个分支，互联网医疗要发展不得不重回线下。但线下的服务模式非常重，与
            互联网本身的运营逻辑是完全不同的，需要有较强的传统医疗服务运营者和投资者来参与和推动。</p>
        <p class="news_paragraph">随着分级诊疗的推动和政策对社会办医的进一步支持，线下医疗服务的投资在未来将获得较快的增长，但在没有强力政策刺激下，投资仍然不会是爆发式的。与互联网医疗相比，线下
            医疗投资所获取的项目商业模式相对清晰，而且估值会较为合理，整体投资的风险系数并不会太高，有利于寻求稳定回报的大型基金进入。而且线下医疗服务也确实不适合小体量的投资者
            ，毕竟整体投资较大，无法采用互联网投资的轻思维策略。</p>
        <p class="news_paragraph">随着大量行业外资金的涌入和行业内公司的转型需求，互联网医疗早中期的投资仍将持续，但在长期无法盈利的困局下，这一轮互联网医疗投资的高峰已经基本结束，未来对互联网医疗
            的投资将更加常态化。未来在某些细分领域将出现部分优秀的公司，但大体量的公司在短期内仍将面临较大的挑战。而医疗投资则将迎来新一轮的快速增长，未来对线下以及线下和线上融
            合的项目将加快投资，不排除在某些领域，因为政策的推动某些项目获得高速发展。</p>
        <p class="news_paragraph">随着大量行业外资金的涌入和行业内公司的转型需求，互联网医疗早中期的投资仍将持续，但在长期无法盈利的困局下，这一轮互联网医疗投资的高峰已经基本结束，未来对互联网医疗
            的投资将更加常态化。未来在某些细分领域将出现部分优秀的公司，但大体量的公司在短期内仍将面临较大的挑战。而医疗投资则将迎来新一轮的快速增长，未来对线下以及线下和线上融
            合的项目将加快投资，不排除在某些领域，因为政策的推动某些项目获得高速发展。</p>
        <p class="news_paragraph_href">转自：村夫日记 http://www.cunfuriji.com/?p=5299</p>
        <div class="art_message">
            <span><i class="iconfont">&#xe643;</i>&nbsp;&nbsp;3</span>
            <span><i class="iconfont">&#xe711;</i>&nbsp;&nbsp;5</span>
        </div>
    </div>
    <!--点赞按钮和评论按钮-->
    <div class="talk_click">
        <button id="art_talk">全部评论（3）</button>
        <button id="art_click">点赞（5）</button>
    </div>
    <span><i class="iconfont">&#xe615;</i></span>
    <!--评论内容或者点赞内容-->
    <div id="talk_click_box">
         <div class="art_talk_box">
             <div class="art_first">
                 <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                 <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                 <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                 <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                 <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                 <p class="art_time">2016-5-16&nbsp;&nbsp;&nbsp;&nbsp;09:24</p>
             </div>
             <div class="art_send_content">
                <p>谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！</p>
             </div>
            <div class="user_info">
                <div class="tourist_png"></div>
                <span>账户信息</span>
                <p class="user_name">(游客登录)</p>
                <p class="user_equipment">来自手机登录</p>
            </div>
         </div>
        <div class="art_talk_box">
            <div class="art_first">
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <p class="art_time">2016-5-16&nbsp;&nbsp;&nbsp;&nbsp;09:24</p>
            </div>
            <div class="art_send_content">
                <p>谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！</p>
            </div>
            <div class="user_info">
                <div class="tourist_png"></div>
                <span>账户信息</span>
                <p class="user_name">(游客登录)</p>
                <p class="user_equipment">来自手机登录</p>
            </div>
        </div>
        <div class="art_talk_box">
            <div class="art_first">
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <span class="pinglun_color"><i class="iconfont">&#xe615;</i></span>
                <p class="art_time">2016-5-16&nbsp;&nbsp;&nbsp;&nbsp;09:24</p>
            </div>
            <div class="art_send_content">
                <p>谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！谢谢分享！感觉健康资讯内容非常实用，可以留用！</p>
            </div>
            <div class="user_info">
                <div class="tourist_png"></div>
                <span>账户信息</span>
                <p class="user_name">(游客登录)</p>
                <p class="user_equipment">来自手机登录</p>
            </div>
        </div>
        <!--点赞-->
        <div class="art_talk_box">
            <div class="art_first">
                <span class="click_color"><i class="iconfont">&#xe602;</i></span><span class="click_num">+1</span>
                <p class="art_time">2016-5-16&nbsp;&nbsp;&nbsp;&nbsp;09:24</p>
            </div>
            <div class="user_info_click">
                <div class="tourist_png"></div>
                <span>账户信息</span>
                <p class="user_name">(游客登录)</p>
                <p class="user_equipment">来自手机登录</p>
            </div>
        </div>
    </div>
    <div id="news_nextPage">
        <input type="button" value="上一页"/>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <input type="button" value="下一页"/>
    </div>
    <!--评论框-->
    <div class="comment">
        <button id="click_button" onclick="document.getElementById('comment_box').style.display=document.getElementById('comment_box').style.display=='block' ? 'none':'block';">点击评价</button>
        <div class="comment_box" id="comment_box">
            <div class="arrow">
                <img src="./../images/infomation/arrow.png"/>
            </div>
            <div>
                <div class="pingfen">
                    <div></div>
                    <div>评分：</div>
                </div>
                <div id="starBg" class="star_bg">
                    <input type="radio" id="starScore1" class="score score_1" value="1" name="score">
                    <a href="#starScore1" class="star star_1" title="差"><label for="starScore1">差</label></a>
                    <input type="radio" id="starScore2" class="score score_2" value="2" name="score">
                    <a href="#starScore2" class="star star_2" title="较差"><label for="starScore2">较差</label></a>
                    <input type="radio" id="starScore3" class="score score_3" value="3" name="score">
                    <a href="#starScore3" class="star star_3" title="普通"><label for="starScore3">普通</label></a>
                    <input type="radio" id="starScore4" class="score score_4" value="4" name="score">
                    <a href="#starScore4" class="star star_4" title="较好"><label for="starScore4">较好</label></a>
                    <input type="radio" id="starScore5" class="score score_5" value="5" name="score">
                    <a href="#5" class="star star_5" title="好"><label for="starScore5">好</label></a>
                </div>
            </div>
            <div class="pingfen">
                <div></div>
                <div>评论：</div>
            </div>
            <div>
                <textarea name="art_message_content" id="art_message_content" cols="30" rows="10">发表你的评论！</textarea>
            </div>
            <div class="all_button">
                <input type="button" value="发表评论" id="up_comment"/>
                <input type="checkbox" name="niming" value="匿名发表" id="niming">
                <span id="niming_words">匿名发表</span>
            </div>
        </div>
    </div>
    <!--页尾-->
    <div id="art_footer"></div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/art_display.js"></script>
</html>