<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title></title>
    <link rel="stylesheet" href="./../css/footer.css"/>
</head>
<body>
<!--页尾-->
<div id="footer">
    <div class="footer_img">
        <img src="../images/index/footer_logo.png" />
    </div>
    <div class="footer_search">
        <div><i class="iconfont">&#x3433;</i></div>
        <div><i class="iconfont">&#xe635;</i></div>
        <div><i class="iconfont">&#xe608;</i></div>
        <div><i class="iconfont">&#xe606;</i></div>
    </div>
    <div id="footer_button">
        <button type="button" name="foot_getArd" id="foot_getArd"></button>
        <button type="button" name="foot_getApple" id="foot_getApple"></button>
    </div>
</div>
<!--版权-->
<div id="copyright">
    <span>蜀ICP备15016350号&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>Copyright 2016  © 妥妥医 .All Rights Reserved.</span>
</div>
</body>
</html>