body{
    overflow-x:hidden ;
}
/*导航栏颜色控制*/
#nav ul li:nth-child(1){
    color: #666666;
}
#nav ul li:nth-child(4) a{
    color: #b0c625;
}
#news_header{
    width: 100%;
    height: 110px;
}
/*自定义字体*/
@font-face {
    font-family: 'arial_Italic';
    src: url('./../iconfont/Arial_Italic/Arial Italic.ttf'); /* IE9*/
    src: url('./../iconfont/Arial_Italic/Arial Italic.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../iconfont/Arial_Italic/Arial Italic.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.arial_Italic{
    font-family: 'arial_Italic' !important;
}
/*新闻banner图*/
#news_banner{
    width: 100%;
}
#news_banner img{
    width: 100%;
}
#news_box{
    width: 100%;
    height: 50px;
}
#news_box_state{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
#news_box_state button{
    float: left;
    margin-top: 18px;
    width: 118px;
    height: 32px;
    border: none;
    font-size: 14px;
    outline: none;
    cursor: pointer;

}
#Comp_news{
    background-color: #b0c625;
    color: white;
}
#Ind_news{
    background-color: #eee;
    color: #666666;
}
#news_box_state span{
    font-size: 14px;
    color: #b2b2b2;
    line-height: 50px;
    float: right;
}
/*新闻内容*/
#news_content{
    width: 100%;
    height: auto;
}
#news_title{
    width: 350px;
    height: 56px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
#Compeny{
    color: #666666;
    font-size: 22px;
}

#english_com{
    font-size: 20px;
    color: #1a8561;
}
.compeny_box{
    margin-top: 16px;
}
#news_title_content{
    font-size:12px;
    color: #b2b2b2;
}
/*加载内容的盒子*/
#news_content_box{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}
.news_list{
    width: 1100px;
    height: 187px;
    margin: 0 auto;
    margin-top: 24px;
    border-bottom: 1px solid #cecece;
    position: relative;
    opacity: 0;
}
.news_list img{
    float: left;
}
.news_list_title{
    margin-left: 330px;
    font-size: 18px;
    color: #818181;
    line-height: 40px;
}
.news_list_introduce{
    margin-left: 330px;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 20px;
    margin-top: -5px;
}
.news_list_content{
    margin-top: 6px;
    margin-left: 330px;
    font-size: 12px;
    color: #818181;
    line-height: 20px;
    text-indent: 2em;
}
.news_list a{
    position: absolute;
    left: 960px;
    top: 140px;
    width: 128px;
    height: 30px;
    border: 1px solid #b0c625;
    color: #b0c625;
    font-size: 14px;
    background: none;
    outline: #b0c625;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
#news_nextPage{
    width: 184px;
    height: 22px;
    margin: 0 auto;
    margin-top: 58px;
}
#news_nextPage span{
    float: left;
    display: block;
    text-align: center;
    width: 24px;
    height: 18px;
    font-size: 12px;
    border-top:1px solid #cecece ;
    border-bottom:1px solid #cecece ;
}
#news_nextPage span:nth-child(2){
    border-right:1px solid #cecece;
}
#news_nextPage span:nth-child(3){
    border-right:1px solid #cecece;
}
#news_nextPage input{
    float: left;
    width: 55px;
    height: 20px;
    background: none;
    border: 1px solid #cecece;
    outline: none;
    color: #666666;
}












